src/main/resources/xsd/employee.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tirmizee.com/ws/employees" version="1.0">

  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="empId" type="xs:long"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
